<label  class="col-12 col-lg-3 btn-banner"
    ><button
        
        type="submit"
        (click)="showFormDialog()"
        ngbautofocus=""
        class="button w-100 btn-banner"
        x
        style="background: #2b35ea"
    >
        <span  class="submit btn-banner">Calcular precios</span
        ><span  class="btn-loading btn-banner"
            ><i  class="fa fa-sync btn-banner"></i></span
        ><span  class="check btn-banner"
            ><i  class="fa fa-check btn-banner"></i
        ></span></button
></label>
